<footer class="footer">
  <div class="footer-container container">
    <div class="footer-img-logo">
      <img
        srcset="
          ./img/footer-img/broccoli-mob.jpg    1x,
          ./img/footer-img/broccoli-mob-2x.jpg 2x
        "
        src="./img/footer-img/broccoli-mob.jpg"
        class="footer-img"
        width="335"
        height="172"
        alt="broccoli"
      />
      <div class="footer-logo-container">
        <a class="footer-logo-link" href="">
          <svg class="footer-logo" width="16" height="16">
            <use href="./img/symbol-defs.svg#logo"></use>
          </svg>
          <span class="footer-logo-title">VEDGIEBOOST</span>
        </a>
      </div>
    </div>
    <div class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="#how-it-works" class="footer-nav-link">How It Works</a>
        </li>
        <li class="footer-nav-item">
          <a href="#vegetables" class="footer-nav-link">Vegetables</a>
        </li>
        <li class="footer-nav-item">
          <a href="#contacts" class="footer-nav-link">Contacts</a>
        </li>
      </ul>
      <!-- llkfjsdlkjllk -->
    </div>
    <div class="footer-soc-address">
      <div class="footer-soc-container">
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              class="footer-soc"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/symbol-defs.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc"
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/symbol-defs.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-tel">
            <a class="footer-tel" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-address-map">
            <a
              class="footer-map"
              href="https://goo.gl/maps/fMMjw9wqBxta4a886"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >1678 S. Pioneer Road Salt Lake City UT 84104
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
