<header class="header-container">
  <div class="header-div">
    <nav class="header-nav">
      <ul class="menu-list">
        <li>
          <a href="#how-it-works" class="menu-link">How It Works</a>
        </li>
        <li>
          <a href="#vegetables" class="menu-link">Vegetables</a>
        </li>
        <li><a href="#contacts" class="menu-link">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-svg-div">
      <a href="" class="header-svg-link">
        <svg class="header-logo-svg" width="16" height="16">
          <use href="./img/symbol-defs.svg#logo"></use>
        </svg>
      </a>
      <a href="#hero" class="header-logo-link">Veggieboost</a>
    </div>
    <button type="button" class="menu-svg-link" data-modal-open>
      <svg class="basket-svg" width="20" height="20">
        <use href="./img/symbol-defs.svg#shopping-cart"></use>
      </svg>
    </button>
    <button class="burger-menu" type="button" data-menu-open>
      <svg class="burger-menu-svg" width="24" height="24">
        <use href="./img/symbol-defs.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
</header>

<section class="mob-menu is-hidden" data-menu>
  <div class="mob-header-div">
    <div class="header-svg-div">
      <a href="" class="header-svg-link">
        <svg class="header-logo-svg" width="16" height="16">
          <use href="./img/symbol-defs.svg#logo"></use>
        </svg>
      </a>
      <a href="#hero" class="header-logo-link">Veggieboost</a>
    </div>
    <button class="mob-menu-x" type="button" data-menu-close>
      <svg class="mob-menu-x-svg" width="24" height="24">
        <use href="./img/symbol-defs.svg#cross"></use>
      </svg>
    </button>
  </div>

  <div class="main-mob-menu">
    <nav class="mob-nav">
      <ul class="mob-menu-list">
        <li>
          <a href="#how-it-works" class="mob-menu-link">How It Works</a>
        </li>
        <li>
          <a href="#vegetables" class="mob-menu-link">Vegetables</a>
        </li>
        <li>
          <a href="#contacts" class="mob-menu-link">Contacts</a>
        </li>
        <li>
          <button type="button" class="mob-order-btn" data-modal-open>
            <svg class="mob-basket-svg" width="20" height="20">
              <use href="./img/symbol-defs.svg#shopping-cart"></use>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</section>
