<header class="container header">
  <div class="header-div">
    <div class="header-svg-div">
      <a href="" class="header-svg-link">
        <svg class="header-logo-svg" width="16" height="16">
          <use href="../img/symbol-defs.svg#logo"></use>
        </svg>
      </a>
      <a href="../index.html" class="header-logo-link">Veggieboost</a>
    </div>
    <button class="burger-menu" type="button" data-menu-open>
      <svg class="burger-menu-svg" width="24" height="24">
        <use href="../img/symbol-defs.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
</header>

<section class="mob-menu menu-is-hidden" data-menu>
  <div class="mob-header-div">
    <div class="header-svg-div">
      <a href="" class="header-svg-link">
        <svg class="header-logo-svg" width="16" height="16">
          <use href="../img/symbol-defs.svg#logo"></use>
        </svg>
      </a>
      <a href="../index.html" class="header-logo-link">Veggieboost</a>
    </div>
    <button class="mob-menu-x" type="button" data-menu-close="">
      <svg class="mob-menu-x-svg" width="24" height="24">
        <use href="../img/symbol-defs.svg#cross"></use>
      </svg>
    </button>
  </div>
  <div class="main-mob-menu">
    <nav class="mob-nav">
      <ul class="mob-menu-list">
        <li>
          <a href="" class="mob-menu-link">How It Works</a>
        </li>
        <li>
          <a href="" class="mob-menu-link">Vegetables</a>
        </li>
        <li><a href="" class="mob-menu-link">Contacts</a></li>
        <li>
          <a href="" class="mob-menu-svg-link"
            ><svg class="mob-busket-svg" width="20" height="20">
              <use href="../img/symbol-defs.svg#shopping-cart"></use></svg
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</section>
