<section class="hero">
  <div class="container">
    <div class="hero-box">
      <div class="hero-box-left">
        <ul class="hero-reviews-list">
          <li class="hero-reviews-item">
            <a class="hero-reviews-link" href="#"
              ><img
                class="hero-reviews-photo"
                srcset="
                  ./img/hero/reviews-photo.jpg    1x,
                  ./img/hero/reviews-photo-2x.jpg 2x
                "
                src="./img/hero/reviews-photo.jpg"
                alt="photo"
                width="66"
                height="66"
            /></a>
          </li>
          <li class="hero-reviews-item">
            <a class="hero-reviews-link" href="#"
              ><img
                class="hero-reviews-photo"
                srcset="
                  ./img/hero/reviews-photo2.jpg    1x,
                  ./img/hero/reviews-photo2-2x.jpg 2x
                "
                src="./img/hero/reviews-photo2.jpg"
                alt="photo"
                width="66"
                height="66"
            /></a>
          </li>
          <li class="hero-reviews-item">
            <a class="hero-reviews-link" href="#"
              ><img
                class="hero-reviews-photo"
                srcset="
                  ./img/hero/reviews-photo3.jpg    1x,
                  ./img/hero/reviews-photo3-2x.jpg 2x
                "
                src="./img/hero/reviews-photo3.jpg"
                alt="photo"
                width="66"
                height="66"
            /></a>
          </li>
          <li class="hero-reviews-item">
            <a class="hero-reviews-link" href="#"
              ><p class="hero-reviews-text">2K <span>reviews</span></p></a
            >
          </li>
        </ul>
        <h1 class="hero-title">
          Organic <span>vegetables</span> to your diet today!
        </h1>
        <p class="hero-paragraph">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
        <button class="hero-button" type="button" data-modal-open>
          Shop <br />
          now
        </button>
      </div>

      <img
        class="hero-photo"
        srcset="
          ./img/hero/hero-photo-bg.png    1x,
          ./img/hero/hero-photo-bg-2x.png 2x
        "
        src="./img/hero/hero-photo-bg.png"
        alt="Photo"
        width="515"
        height="423"
      />
    </div>
    <div class="hero-list-link">
      <ul class="hero-link-list">
        <li class="hero-link-item">
          <a class="hero-link" href="#">#Organic</a>
        </li>
        <li class="hero-link-item">
          <a class="hero-link" href="#">#Products</a>
        </li>
        <li class="hero-link-item">
          <a class="hero-link" href="#">#Basket</a>
        </li>
        <li class="hero-link-item">
          <a class="hero-link" href="#">#Vegetables</a>
        </li>
      </ul>
    </div>
  </div>
</section>
