<section class="how-it-works-first-part">
    <div class="container vegetables-baket-container">
        <div class="vegetables-baket-first">
   <div class="how-it-works-title">
    <h2 class="works-title">To order your vegetable basket, simply follow these easy steps</h2>
</div>
   <div class="how-it-works-picture">
    <picture class="works-picture">
        <source srcset="
                    ../img/how-it-works-one/img_broccoli_desctop.png 1x,
                    ../img/how-it-works-one/img_broccoli_desctop@2x.png 2x
                  " media="(min-width: 1280px)" />
        <source srcset="
                                ../img/how-it-works-one/img_broccoli_tablet.png 1x,
                                ../img/how-it-works-one/img_broccoli_tablet@2x.png 2x
                              " media="(min-width: 768px)"/>
                            <source srcset="
                                        ../img/how-it-works-one/img_broccoli_mobile.png 1x,
                                        ../img/how-it-works-one/img_broccoli_mobile@2x.png 2x
                                      " media="(max-width: 767px)"/>
                                      
        <img src="../img/how-it-works-one/img_broccoli_mobile.png" alt="broccoli" width="375" height="158"
            class="hiwfirst-picture" />
    </picture>
</div>
</div>
<div class="vegetables-baket-secondary">
   <div class="how-it-works-main-paragraph">
    <p class="main-slogan">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit
    without ever leaving your home.</p>
</div>

   <div class="how-it-works-secondary-paragraph">
    <p class="secondary-slogan">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
</div>
</div>
</div>
</section>