<section class="hiw2">
  <div class="container">
    <div class="hiw2-wrap">
      <div class="hiw2-text-part">
        <h2 class="hiw2-title">3 Easy Steps for Buying Fresh Vegetables</h2>
        <ol class="hiw2-list">
          <li class="hiw2-item">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </li>
          <li class="hiw2-item">Click on the basket and fill out the form.</li>
          <li class="hiw2-item">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </li>
        </ol>
      </div>
      <picture>
        <source
          srcset="
            ../img/how-it-works-2-img/little-girl-desc.png    1x,
            ../img/how-it-works-2-img/little-girl-desc-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/how-it-works-2-img/little-girl-tab.png    1x,
            ../img/how-it-works-2-img/little-girl-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/how-it-works-2-img/little-girl.png    1x,
            ../img/how-it-works-2-img/little-girl-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/how-it-works-2-img/little-girl.png"
          alt="little girl with lettuce"
          width="258"
          height="319"
          class="hiw2-picture"
        />
      </picture>
    </div>
  </div>
</section>
