<section class="container">
<div class="modal">
    <button type="button" class="modal-btn-close">
    <svg class="close-svg" width="28" height="28">
        <use href="../img/symbol-defs.svg#icon-close"></use>
    </svg>
    </button>
    <h2 class="modal-tittle">Your Order</h2>
    <ul class="modal-list-cards">
        <li class="item-cards">
        <div class="div-item-cards">
        <div class="div-check">
        <Label class="check-label" for="user-check"><span class="check-check"></span></Label>
                <input class="input-check" type="checkbox" name="policy" id="user-check" value="true" />
            </div>
                <h3 class="cards-tittle">Cabbage Basket</h3>
                <p class="cards-text">Plant</p>
                <picture>
                    <source srcset="../img/img-modal/cabbage-top.png 1x,
                     ../img/img-modal/cabbage-top2x.png 2x" media="(min-width: 1280px)" />
                    <source srcset="../img/img-modal/cabbage-tab.png 1x,
                     ../img/img-modal/cabbage-tab2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="" media="(max-width: 767px)" />
                    <img srcset="../img/images/cabbage.png 1x, ../img/images/cabbage2x.png 2x"
                     src="../img/images/cabbage.png" alt="Cabbage" class="card-img" />
                </picture>
        </div>
        </li>
        <li class="item-cards">
            <div class="div-item-cards">
                <div class="div-check">
                    <Label class="check-label" for="user-check"><span class="check-check"></span></Label>
                    <input type="checkbox" name="user-check" id="user-check" value="true" />
                </div>
                <h3 class="cards-tittle">Tomato Basket</h3>
                <p class="cards-text">Plant</p>
                <picture>
                    <source srcset="../img/img-modal/tomato-top.png 1x,
                     ../img/img-modal/cabbage-top2x.png 2x" media="(min-width: 1280px)" />
                    <source srcset="../img/img-modal/tomato-tab.png 1x,
                     ../img/img-modal/tomato-tab2x.png 2x" media="(min-width: 768px)" />
                    <source srcset="../img/img-modal/tomato-mob.png 1x,
                     ../img/img-modal/tomato-mob2x.png" media="(max-width: 767px)" />
                   <img srcset="../img/images/tomato.png 1x, ../img/images/tomato2x.png 2x"
                    src="../img/images/tomato.png" alt="Tomato" class="card-img" />
                </picture>
            </div>
        </li>
        <li class="item-cards">
            <div class="div-item-cards">
                <div class="div-check">
                    <Label class="check-label" for="user-check"><span class="check-check"></span></Label>
                    <input type="checkbox" name="user-check" id="user-check" value="true" />
                </div>
                <h3 class="cards-tittle">Vegetables Basket</h3>
                <p class="cards-text">Plant</p>
                <img srcset="../img/images/vegetables.png 1x, ../img/images/vegetables2x.png 2x"
                 src="../img/images/vegetables.png" alt="Vegetables" class="card-img" />
            </div>
        </li>
    </ul>
      <form class="modal-form">
        <div class="all-input-form">
               <label class="modal-label" aria-label="user-name">
                      <input type="text" name="user-name" pattern="[A-z]{1,15}" placeholder="Enter full name..." class="modal-input" required />
                  </label>
                  <label class="modal-label" aria-label="">
                      <input type="email" name="user-email" placeholder="Enter email..." class="modal-input" required />
                  </label>
                  <label class="modal-label" aria-label="">
                      <input type="tel" pattern="\d*" maxlength="19" name="card-number" placeholder="Enter card.." class="modal-input" />
                  </label>
                  <label class="modal-label" aria-label="">
                      <textarea name="user-comments" placeholder="Enter comments..." class="comments"></textarea>
                  </label>
          </div>
            <button type="submit" class="modal-btn-submit">Submit</button>
          </form>
          <img srcset="../img/img-modal/girl.png 1x, ../img/img-modal/girl2x.png 2x" src="../img/images/girl.png" width="444"   height="413" alt="girl" class="modal-girl" />  
  </div>
</section>
     