<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-btn-close" data-modal-close>
      <svg width="24" height="24" class="modal-close-icon">
        <use href="./img/symbol-defs.svg#cross"></use>
      </svg>
    </button>

    <h2 class="modal-title">Your Order</h2>
    <ul class="modal-list-cards">
      <li class="modal-item-cards">
        <div class="modal-field modal-check-field">
          <input
            type="checkbox"
            name="cabbage"
            id="cabbage"
            class="modal-check visually-hidden"
            value="true"
          />
          <label for="cabbage" class="check-label">
            <span class="fake-checkbox"> </span>
          </label>
        </div>

        <h3 class="modal-cards-title">Cabbage Basket</h3>
        <p class="modal-cards-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/img-modal/cabbage-top.png   1x,
              ./img/img-modal/cabbage-top2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/img-modal/cabbage-tab.png   1x,
              ./img/img-modal/cabbage-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/img-modal/cabbage-mob.png   1x,
              ./img/img-modal/cabbage-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/img-modal/cabbage-mob.png"
            alt="A basket of Brussel sprouts"
            width="94"
            height="78"
            class="modal-card-img"
          />
        </picture>
      </li>

      <li class="modal-item-cards">
        <div class="modal-field modal-check-field">
          <input
            type="checkbox"
            name="tomato"
            id="tomato"
            class="modal-check visually-hidden"
            value="true"
          />
          <label for="tomato" class="check-label">
            <span class="fake-checkbox"> </span>
          </label>
        </div>

        <h3 class="modal-cards-title">Tomato Basket</h3>
        <p class="modal-cards-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/img-modal/tomato-top.png   1x,
              ./img/img-modal/tomato-top2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/img-modal/tomato-tab.png   1x,
              ./img/img-modal/tomato-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/img-modal/tomato-mob.png   1x,
              ./img/img-modal/tomato-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/img-modal/tomato-mob.png"
            alt="A basket of Brussel sprouts"
            width="94"
            height="78"
            class="modal-card-img"
          />
        </picture>
      </li>

      <li class="modal-item-cards">
        <div class="modal-field modal-check-field">
          <input
            type="checkbox"
            name="vege-busket"
            id="vege-busket"
            class="modal-check visually-hidden"
            value="true"
          />
          <label for="vege-busket" class="check-label">
            <span class="fake-checkbox"> </span>
          </label>
        </div>

        <h3 class="modal-cards-title">Vegetables Basket</h3>
        <p class="modal-cards-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/img-modal/vegetables-top.png   1x,
              ./img/img-modal/vegetables-top2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/img-modal/vegetables-tab.png   1x,
              ./img/img-modal/vegetables-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/img-modal/vegetables-mob.png   1x,
              ./img/img-modal/vegetables-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/img-modal/vegetables-mob.png"
            alt="A basket of Brussel sprouts"
            width="94"
            height="78"
            class="modal-card-img"
          />
        </picture>
      </li>
    </ul>

    <form class="modal-form">
      <div class="all-input-form">
        <label class="modal-label" aria-label="user-name">
          <input
            type="text"
            name="user-name"
            pattern="[^0-9]*"
            placeholder="Enter full name..."
            class="modal-input"
            required
          />
        </label>
        <label class="modal-label" aria-label="">
          <input
            type="email"
            name="user-email"
            placeholder="Enter email..."
            class="modal-input"
            required
          />
        </label>
        <label class="modal-label" aria-label="">
          <input
            type="tel"
            pattern="\d*"
            minlength="16"
            maxlength="19"
            name="card-number"
            placeholder="Enter card.."
            class="modal-input"
            required
          />
        </label>
        <label class="modal-label" aria-label="">
          <textarea
            name="user-comments"
            placeholder="Enter comments..."
            class="comments"
          ></textarea>
        </label>
      </div>
      <button type="submit" class="modal-btn-submit">Submit</button>
    </form>
    <img
      srcset="./img/img-modal/girl.png 1x, ./img/img-modal/girl2x.png 2x"
      src="./img/images/girl.png"
      width="444"
      height="413"
      alt="young woman with lettuce"
      class="modal-girl"
    />
  </div>
</div>
