<div class="modal">
    <button type="button" class="modal-btn-close">
        <svg class="close-svg" width="14" height="14">
            <use href=""></use>
        </svg>
    </button>
    <h2 class="modal-tittle">Your Order</h2>
    <ul class="modal-list-basket">
        <li class="item-basket">
            <div class="div-item-basket">
                <div class="div-check">
                    <input type="checkbox" name="user-check" id="user-check" value="true" />
                </div>
                <h3 class="basket-tittle">Tomato Basket</h3>
                <p class="basket-text">Plant</p>
            </div>
        </li>
        <li class="item-basket">
            <div class="div-item-basket">
                <div class="div-check">
                    <input type="checkbox" name="user-check" id="user-check" value="true" />
                </div>
                <h3 class="basket-tittle">Cabbage Basket</h3>
                <p class="basket-text">Plant</p>
            </div>
        </li>
        <li class="item-basket">
            <div class="div-item-basket">
                <div class="div-check">
                    <input type="checkbox" name="user-check" id="user-check" value="true" />
                </div>
                <h3 class="basket-tittle">Vegetables Basket</h3>
                <p class="basket-text">Plant</p>
            </div>
        </li>
    </ul>
    <form class="modal-form">
        <div class="all-input-form">
            <div>
                <label class="modal-label" aria-label="">
                    <input type="text" name="user-name" placeholder="Enter full name..." class="modal-input" />
                </label>
            </div>
            <div>
                <label class="modal-label" aria-label="">
                    <input type="email" name="user-email" placeholder="Enter email..." class="modal-input" />
                </label>
            </div>
            <div>
                <label class="modal-label" aria-label="">
                    <input type="text" name="card-number" placeholder="Enter card.." class="modal-input" />
                </label>
            </div>
            <div>
                <label class="modal-label" aria-label="">
                    <textarea name="user-comments" placeholder="Enter comments..." class="comments"></textarea>
                </label>
            </div>
        </div>
    </form>
</div>