<section class="vegetables-section" id="vegetables">
  <div class="vegetables-container container">
    <h2 class="vegetables-title">Organic vegetables</h2>
    <p class="vegetables-subtitle">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veg-list">
      <li class="veg-item">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="text-cont">
              <h3 class="veg-item-title">Carrot</h3>
              <p class="veg-item-text">Plant</p>
            </div>
            <div class="image-contnr">
              <picture>
                <source
                  srcset="
                    ./img/img-vegetable/carrot-tablet-1x-min.png 1x,
                    ./img/img-vegetable/carrot-tablet-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/img-vegetable/carrot-mobile-1x-min.png 1x,
                    ./img/img-vegetable/carrot-mobile-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/img-vegetable/carrot-mobile-1x-min.png"
                  alt="carrot"
                  width="300"
                  height="250"
                  class="card-picture"
                />
              </picture>
            </div>
            <p class="veg-item-price">100 UAH / kg</p>
          </div>
          <div class="card__face card__face--back">
            <p class="veg-item-benefits">
              Carrots are full of benefits—they may promote healthy vision,
              balance your blood sugar, help with weight management, lower your
              risk of cancer, regulate blood pressure, reduce heart disease,
              improve immunity, and boost brain health.
            </p>
          </div>
        </div>
      </li>

      <li class="veg-item">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="text-cont">
              <h3 class="veg-item-title">Brussel sprouts</h3>
              <p class="veg-item-text">Plant</p>
            </div>
            <div class="image-contnr">
              <picture>
                <source
                  srcset="
                    ./img/img-vegetable/brussel-tablet-1x-min.png 1x,
                    ./img/img-vegetable/brussel-tablet-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/img-vegetable/brussel-mobile-1x-min.png 1x,
                    ./img/img-vegetable/brussel-mobile-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/img-vegetable/brussel-mobile-1x-min.png"
                  alt="brussel"
                  width="300"
                  height="250"
                  class="card-picture"
                />
              </picture>
            </div>
            <p class="veg-item-price">80 UAH / kg</p>
          </div>
          <div class="card__face card__face--back">
            <p class="veg-item-benefits">
              Brussels sprouts are high in fiber, vitamins, minerals, and
              antioxidants, making them a nutritious addition to your diet. They
              may also come with added health benefits, including decreased
              inflammation and improved immune system health.
            </p>
          </div>
        </div>
      </li>

      <li class="veg-item">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="text-cont">
              <h3 class="veg-item-title">Tomato</h3>
              <p class="veg-item-text">Plant</p>
            </div>
            <div class="image-contnr">
              <picture>
                <source
                  srcset="
                    ./img/img-vegetable/tomato-tablet-1x-min.png 1x,
                    ./img/img-vegetable/tomato-tablet-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/img-vegetable/tomato-mobile-1x-min.png 1x,
                    ./img/img-vegetable/tomato-mobile-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/img-vegetable/tomato-mobile-1x-min.png"
                  alt="Tomato"
                  width="300"
                  height="250"
                  class="card-picture"
                />
              </picture>
            </div>
            <p class="veg-item-price">40 UAH / kg</p>
          </div>
          <div class="card__face card__face--back">
            <p class="veg-item-benefits">
              Tomatoes are packed with vitamins, minerals, and antioxidants.
              With their high lycopene content, they contribute to a reduced
              risk of heart disease and cancer. The intake of tomatoes may also
              improve eye health, digestive health, and reduce risk of
              osteoporosis.
            </p>
          </div>
        </div>
      </li>

      <li class="veg-item">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="text-cont">
              <h3 class="veg-item-title">Eggplant</h3>
              <p class="veg-item-text">Plant</p>
            </div>
            <div class="image-contnr">
              <picture>
                <source
                  srcset="
                    ./img/img-vegetable/eggplant-tablet-1x-min.png 1x,
                    ./img/img-vegetable/eggplant-tablet-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/img-vegetable/eggplant-mobile-1x-min.png 1x,
                    ./img/img-vegetable/eggplant-mobile-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/img-vegetable/eggplant-mobile-1x-min.png"
                  alt="Eggplant"
                  width="300"
                  height="250"
                  class="card-picture"
                />
              </picture>
            </div>
            <p class="veg-item-price">60 UAH / kg</p>
          </div>
          <div class="card__face card__face--back">
            <p class="veg-item-benefits">
              Eggplants are rich in fiber and antioxidants. A serving of
              eggplant can provide at least 5% of a person's daily requirement
              of fiber, copper, manganese, B-6, and thiamine. It also contains
              other vitamins and minerals. In addition, eggplants are a source
              of phenolic compounds that act as antioxidants.
            </p>
          </div>
        </div>
      </li>

      <li class="veg-item">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="text-cont">
              <h3 class="veg-item-title">Sweet potatoes</h3>
              <p class="veg-item-text">Plant</p>
            </div>
            <div class="image-contnr">
              <picture>
                <source
                  srcset="
                    ./img/img-vegetable/potatoes-tablet-1x-min.png 1x,
                    ./img/img-vegetable/potatoes-tablet-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/img-vegetable/potatoes-mobile-1x-min.png 1x,
                    ./img/img-vegetable/potatoes-mobile-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/img-vegetable/potatoes-mobile-1x-min.png"
                  alt="Potatoes"
                  width="300"
                  height="250"
                  class="card-picture"
                />
              </picture>
            </div>
            <p class="veg-item-price">80 UAH / kg</p>
          </div>
          <div class="card__face card__face--back">
            <p class="veg-item-benefits">
              Sweet potatoes are high in fiber and antioxidants, which protect
              your body from free radical damage and promote a healthy gut and
              brain. They're also incredibly rich in beta carotene, which is
              converted to vitamin A to support good vision and your immune
              system.
            </p>
          </div>
        </div>
      </li>

      <li class="veg-item">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="text-cont">
              <h3 class="veg-item-title">Leek</h3>
              <p class="veg-item-text">Plant</p>
            </div>
            <div class="image-contnr">
              <picture>
                <source
                  srcset="
                    ./img/img-vegetable/leek-tablet-1x-min.png 1x,
                    ./img/img-vegetable/leek-tablet-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/img-vegetable/leek-mobile-1x-min.png 1x,
                    ./img/img-vegetable/leek-mobile-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/img-vegetable/leek-mobile-1x-min.png"
                  alt="Leek"
                  width="300"
                  height="250"
                  class="card-picture"
                />
              </picture>
            </div>
            <p class="veg-item-price">50 UAH / kg</p>
          </div>
          <div class="card__face card__face--back">
            <p class="veg-item-benefits">
              Leeks are low in calories but high in nutrients, particularly
              magnesium and vitamins A, C, and K. They boast small amounts of
              fiber, copper, vitamin B6, iron, and folate. Leeks are rich in
              antioxidants and sulfur compounds. These are thought to protect
              your body from disease.
            </p>
          </div>
        </div>
      </li>

      <li class="veg-item">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="text-cont">
              <h3 class="veg-item-title">Mushrooms</h3>
              <p class="veg-item-text">Plant</p>
            </div>
            <div class="image-contnr">
              <picture>
                <source
                  srcset="
                    ./img/img-vegetable/mushrooms-tablet-1x-min.png 1x,
                    ./img/img-vegetable/mushrooms-tablet-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/img-vegetable/mashrooms-mobile-1x-min.png 1x,
                    ./img/img-vegetable/mashrooms-mobile-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/img-vegetable/mashrooms-mobile-1x-min.png"
                  alt="Leek"
                  width="300"
                  height="250"
                  class="card-picture"
                />
              </picture>
            </div>
            <p class="veg-item-price">40 UAH / kg</p>
          </div>
          <div class="card__face card__face--back">
            <p class="veg-item-benefits">
              Mushrooms are a low-calorie food that packs a nutritional punch.
              Loaded with many health-boosting vitamins, minerals, and
              antioxidants, they’ve long been recognized as an important part of
              any diet. The anti-inflammatory effect of mushrooms has been shown
              to greatly improve the efficiency of the immune system.
            </p>
          </div>
        </div>
      </li>

      <li class="veg-item">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="text-cont">
              <h3 class="veg-item-title">Corn</h3>
              <p class="veg-item-text">Plant</p>
            </div>
            <div class="image-contnr">
              <picture>
                <source
                  srcset="
                    ./img/img-vegetable/corn-tablet-1x-min.png 1x,
                    ./img/img-vegetable/corn-tablet-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/img-vegetable/corn-mobile-1x-min.png 1x,
                    ./img/img-vegetable/corn-mobile-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/img-vegetable/corn-mobile-1x-min.png"
                  alt="Corn"
                  width="300"
                  height="250"
                  class="card-picture"
                />
              </picture>
            </div>
            <p class="veg-item-price">60 UAH / kg</p>
          </div>
          <div class="card__face card__face--back">
            <p class="veg-item-benefits">
              Choosing corn and whole-grain corn products -- rather than food
              that has processed white flour -- can lead to better gut health
              and help lower your chances of getting diseases like cancer, heart
              disease, and type 2 diabetes. The fiber in corn helps you stay
              full for longer between meals.
            </p>
          </div>
        </div>
      </li>

      <li class="veg-item-radish veg-item">
        <div class="card">
          <div class="card__face card__face--front">
            <div class="text-cont">
              <h3 class="veg-item-title">Radish</h3>
              <p class="veg-item-text">Plant</p>
            </div>
            <div class="image-contnr">
              <picture>
                <source
                  srcset="
                    ./img/img-vegetable/radish-tablet-1x-min.png 1x,
                    ./img/img-vegetable/radish-tablet-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/img-vegetable/radish-tablet-1x-min.png"
                  alt="Radish"
                  width="300"
                  height="250"
                  class="card-picture active"
                />
              </picture>
            </div>
            <p class="veg-item-price">90 UAH / kg</p>
          </div>
          <div class="card__face card__face--back">
            <p class="veg-item-benefits">
              Radishes are a good source of antioxidants like catechin,
              pyrogallol, vanillic acid, and other phenolic compounds. These
              root vegetables also have a good amount of vitamin C, which acts
              as an antioxidant to protect your cells from damage.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <button
      type="button"
      class="vegetables-button"
      id="vegetables"
      data-modal-open
    >
      <svg class="vegetables-strelka-icon" width="14" height="14">
        <use href="./img/symbol-defs.svg#strelka"></use>
      </svg>
      Order
    </button>
  </div>
</section>
