<section class="vegetables-section">
    <div class="vegetables-container container">
        <h2 class="vegetables-title">Organic vegetables</h2>
        <p class="vegetables-subtitle">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible. </p>
        <ul class="veg-list">
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Carrot</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
            <div class="vegetables-image"> 
                <picture>
                    <source
                      srcset="
                        ../img/img-veg/carrot-tab-1x-min.png 1x,
                        ../img/img-veg/carrot-tab-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-veg/carrot-mob-1x-min.png 1x,
                      ../img/img-veg/carrot-mob-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-veg/carrot-mob-1x-min.png"
                      alt="carrot"
                      width="292"
                      height="223"
                      class="carrot-picture"
                    />
                  </picture>
                  <svg class="vegetables-shadow-icon" width="195" height="38">
                    <use href="../img/symbol-defs.svg#shadow"></use>
                </svg>
            </div>
                <p class="veg-item-price">100 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                 <h3 class="veg-item-title">Brussel sprouts</h3>
                 <p class="veg-item-text">Plant</p>
                </div>
            <div class="vegetables-image">  
                <picture>
                    <source
                      srcset="
                      ../img/img-veg/brussel sprouts-tab-1x-min.png 1x,
                      ../img/img-veg/brussel sprouts-tab-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-veg/brussel sprouts-mob-1x-min.png 1x,
                      ../img/img-veg/brussel sprouts-mob-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-veg/brussel-mob-1x-min.png"
                      alt="brussel"
                      width="230"
                      height="230"
                      class="brussel-picture"
                    />
                  </picture>
                  <svg class="vegetables-shadow-icon" width="195" height="38">
                    <use href="../img/symbol-defs.svg#shadow"></use>
                </svg>
            </div>
                <p class="veg-item-price">80 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Tomato</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
            <div class="vegetables-image"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-veg/tomato-tab-1x-min.png 1x,
                      ../img/img-veg/tomato-mob-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-veg/tomato-mob-1x-min.png 1x,
                      ../img/img-veg/tomato-mob-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-veg/tomato-mob-1x-min.png"
                      alt="Tomato"
                      width="278"
                      height="176"
                      class="tomato-picture"
                    />
                  </picture>
                  <svg class="vegetables-shadow-icon" width="195" height="38">
                    <use href="../img/symbol-defs.svg#shadow"></use>
                </svg>
            </div>
                <p class="veg-item-price">40 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Eggplant</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
            <div class="vegetables-image"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-veg/eggplant-tab-1x-min.png 1x,
                      ../img/img-veg/eggplant-tab-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-veg/eggplant-mob-1x-min.png 1x,
                      ../img/img-veg/eggplant-mob-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-veg/eggplant-mob-1x-min.png"
                      alt="Eggplant"
                      width="194"
                      height="194"
                      class="eggplant-picture"
                    />
                  </picture>
                  <svg class="vegetables-shadow-icon" width="195" height="38">
                    <use href="../img/symbol-defs.svg#shadow"></use>
                </svg>
            </div>
                <p class="veg-item-price">60 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Sweet potatoes</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
            <div class="vegetables-image"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-veg/potatoes-tab-1x-min.png 1x,
                      ../img/img-veg/potatoes-tab-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-veg/potatoes-mob-1x-min.png 1x,
                      ../img/img-veg/potatoes-mob-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-veg/potatoes-mob-1x-min.png"
                      alt="Potatoes"
                      width="294"
                      height="189"
                      class="potatoes-picture"
                    />
                  </picture>
                  <svg class="vegetables-shadow-icon" width="195" height="38">
                    <use href="../img/symbol-defs.svg#shadow"></use>
                </svg>
            </div>
                <p class="veg-item-price">80 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Leek</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
            <div class="vegetables-image"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-veg/leek-tab-1x-min.png 1x,
                      ../img/img-veg/leek-tab-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-veg/leek-mob-1x-min.png 1x,
                      ../img/img-veg/leek-mob-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-veg/leek-mob-1x-min.png"
                      alt="Leek"
                      width="294"
                      height="189"
                      class="Leek-picture"
                    />
                  </picture>
                  <svg class="vegetables-shadow-icon" width="195" height="38">
                    <use href="../img/symbol-defs.svg#shadow"></use>
                </svg>
            </div>
                <p class="veg-item-price">50 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Mushrooms</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
            <div class="vegetables-image"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-veg/mushrooms-tab-1x-min.png 1x,
                      ../img/img-veg/mushrooms-tab-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-veg/mushrooms-mob-1x-min.png 1x,
                      ../img/img-veg/mushrooms-mob-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-veg/mushrooms-mob-1x-min.png"
                      alt="Mushrooms"
                      width="325"
                      height="183"
                      class="mushrooms-picture"
                    />
                  </picture>
                  <svg class="vegetables-shadow-icon" width="195" height="38">
                    <use href="../img/symbol-defs.svg#shadow"></use>
                </svg>
            </div>
                <p class="veg-item-price">40 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Corn</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
            <div class="vegetables-image">
                <picture>
                    <source
                      srcset="
                      ../img/img-veg/corn-tab-1x-min.png 1x,
                      ../img/img-veg/corn-tab-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-veg/corn-mob-1x-min.png 1x,
                      ../img/img-veg/corn-mob-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-veg/corn-mob-1x-min.png"
                      alt="Corn"
                      width="265"
                      height="203"
                      class="corn-picture"
                    />
                  </picture>
                  <svg class="vegetables-shadow-icon" width="195" height="38">
                    <use href="../img/symbol-defs.svg#shadow"></use>
                </svg>
            </div>
                <p class="veg-item-price">60 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Radish</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
            <div>
                <picture>
                    <source
                      srcset="
                      ../img/img-veg/radish-desc-1x-min.png 1x,
                      ../img/img-veg/radish-desc-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-veg/radish-desc-1x-min.png"
                      alt="Radish"
                      width="316"
                      height="181"
                      class="radish-picture"
                    />
                  </picture>
                  <svg class="vegetables-shadow-icon" width="195" height="38">
                    <use href="../img/symbol-defs.svg#shadow"></use>
                </svg>
            </div>
                <p class="veg-item-price">90 UAH / kg</p>
            </li>
        </ul>
        <button type="button" class="vegetables-button">
            <svg class="vegetables-strelka-icon" width="14" height="14">
                <use href="../img/symbol-defs.svg#strelka"></use>
            </svg>
            Order
        </button>
    </div>
</section>