<section class="vegetables-section">
    <div class="vegetables-container container">
        <h2 class="vegetables-title">Organic vegetables</h2>
          <p class="vegetables-subtitle">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible. </p>
        <ul class="veg-list">
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Carrot</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
                <div class="image-contnr"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-vegetable/carrot-tablet-1x-min.png 1x,
                      ../img/img-vegetable/carrot-tablet-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-vegetable/carrot-mobile-1x-min.png 1x,
                      ../img/img-vegetable/carrot-mobile-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-vegetable/carrot-mobile-1x-min.png"
                      alt="carrot"
                      width="300"
                      height="250"
                      class="card-picture"
                    />
                  </picture>
                </div>
                  <p class="veg-item-price">100 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                 <h3 class="veg-item-title">Brussel sprouts</h3>
                 <p class="veg-item-text">Plant</p>
                </div>
                <div class="image-contnr"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-vegetable/brussel-tablet-1x-min.png 1x,
                      ../img/img-vegetable/brussel-tablet-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-vegetable/brussel-mobile-1x-min.png 1x,
                      ../img/img-vegetable/brussel-mobile-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-vegetable/brussel-mobile-1x-min.png"
                      alt="brussel"
                      width="300"
                      height="250"
                      class="card-picture"
                    />
                  </picture>
                </div>
                <p class="veg-item-price">80 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Tomato</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
                <div class="image-contnr"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-vegetable/tomato-tablet-1x-min.png 1x,
                      ../img/img-vegetable/tomato-tablet-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-vegetable/tomato-mobile-1x-min.png 1x,
                      ../img/img-vegetable/tomato-mobile-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-vegetable/tomato-mobile-1x-min.png"
                      alt="Tomato"
                      width="300"
                      height="250"
                      class="card-picture"
                    />
                  </picture>
                   </div>
                <p class="veg-item-price">40 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Eggplant</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
                <div class="image-contnr"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-vegetable/eggplant-tablet-1x-min.png 1x,
                      ../img/img-vegetable/eggplant-tablet-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-vegetable/eggplant-mobile-1x-min.png 1x,
                      ../img/img-vegetable/eggplant-mobile-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-vegetable/eggplant-mobile-1x-min.png"
                      alt="Eggplant"
                      width="300"
                      height="250"
                      class="card-picture"
                    />
                  </picture>
                  </div>
                <p class="veg-item-price">60 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Sweet potatoes</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
                <div class="image-contnr"> 
                <picture>
                    <source
                      srcset="
                      ../img/img-vegetable/potatoes-tablet-1x-min.png 1x,
                      ../img/img-vegetable/potatoes-tablet-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-vegetable/potatoes-mobile-1x-min.png 1x,
                      ../img/img-vegetable/potatoes-mobile-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-vegetable/potatoes-mobile-1x-min.png"
                      alt="Potatoes"
                      width="300"
                      height="250"
                      class="card-picture"
                    />
                  </picture>
                </div>
                <p class="veg-item-price">80 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Leek</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
                <div class="image-contnr">
                <picture>
                    <source
                      srcset="
                      ../img/img-vegetable/leek-tablet-1x-min.png 1x,
                      ../img/img-vegetable/leek-tablet-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-vegetable/leek-mobile-1x-min.png 1x,
                      ../img/img-vegetable/leek-mobile-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-vegetable/leek-mobile-1x-min.png"
                      alt="Leek"
                      width="300"
                      height="250"
                      class="card-picture"
                    />
                  </picture>
                </div>
                <p class="veg-item-price">50 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Mushrooms</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
                <div class="image-contnr">
                <picture>
                  <source
                    srcset="
                    ../img/img-vegetable/mushrooms-tablet-1x-min.png 1x,
                    ../img/img-vegetable/mushrooms-tablet-2x-min.png 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                     ../img/img-vegetable/mashrooms-mobile-1x-min.png 1x,
                     ../img/img-vegetable/mashrooms-mobile-2x-min.png 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="../img/img-vegetable/mashrooms-mobile-1x-min.png"
                    alt="Leek"
                    width="300"
                    height="250"
                    class="card-picture"
                  />
                </picture>
              </div>
                <p class="veg-item-price">40 UAH / kg</p>
            </li>
            <li class="veg-item">
                <div class="text-cont">
                    <h3 class="veg-item-title">Corn</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
                <div class="image-contnr">
                <picture>
                    <source
                      srcset="
                      ../img/img-vegetable/corn-tablet-1x-min.png 1x,
                      ../img/img-vegetable/corn-tablet-2x-min.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                      ../img/img-vegetable/corn-mobile-1x-min.png 1x,
                      ../img/img-vegetable/corn-mobile-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-vegetable/corn-mobile-1x-min.png"
                      alt="Corn"
                      width="300"
                      height="250"
                      class="card-picture"
                    />
                  </picture>
                </div>
                <p class="veg-item-price">60 UAH / kg</p>
            </li>
            <li class="veg-item-radish">
                <div class="text-cont">
                    <h3 class="veg-item-title">Radish</h3>
                    <p class="veg-item-text">Plant</p>
                </div>
                <div class="image-contnr">
                <picture>
                    <source
                      srcset="
                      ../img/img-vegetable/radish-tablet-1x-min.png 1x,
                      ../img/img-vegetable/radish-tablet-2x-min.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="../img/img-vegetable/radish-tablet-1x-min.png"
                      alt="Radish"
                      width="300"
                      height="250"
                      class="card-picture active"
                    />
                  </picture>
                </div>
                <p class="veg-item-price">90 UAH / kg</p>
            </li>
        </ul>
        <button type="button" class="vegetables-button" id="vegetables">
            <svg class="vegetables-strelka-icon" width="14" height="14">
                <use href="../img/symbol-defs.svg#strelka"></use>
            </svg>
            Order
        </button>
    </div>
</section>