<section class="wwcy-section" id="">
  <div class="wwcy-container">
    <div class="wwcy-leftside-box">
      <h1 class="wwcy-title">Fresh Harvest Box has got you covered</h1>
      <p class="wwcy-txt">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>

      <form class="wwcy-form">
        <input
          type="tel"
          name="phone-number"
          id="phone-number"
          class="wwcy-form-input"
          placeholder="+380 ()"
          pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
          title="Number format has to be: +380 (**) ***-**-**"
          required
        />
        <button type="submit" class="wwcy-button">Recall</button>
      </form>
    </div>
    <div class="wwcy-li wwcy-image-box">
      <picture>
        <source
          media="(min-width:1280px)"
          srcset="
            ./img/we-will-call-you/img-girl-desk.png   1x,
            ./img/we-will-call-you/img-girl-desk2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/we-will-call-you/img-girl-tablet.png   1x,
            ./img/we-will-call-you/img-girl-tablet2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/we-will-call-you/img-girl.png   1x,
            ./img/we-will-call-you/img-girl2x.png 2x
          "
        />
        <img
          src="./img/we-will-call-you/img-girl.png"
          alt="girl with the
        broccoli"
          class="wwcy-image"
        />
      </picture>
    </div>
  </div>
</section>
