.header-container {
  padding: 0 20px;
  margin: 0 auto;
}

a:hover,
a:focus {
  color: #77ac63;
  background-color: transparent;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #141414;
}
.mob-basket-svg:hover,
.mob-basket-svg:focus {
  stroke: #141414;
}
.mob-menu-x-svg:hover,
.mob-menu-x-svg:focus {
  stroke: #141414;
}

.burger-menu-svg:hover,
.burger-menu-svg:focus {
  fill: #141414;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0;
}

.header-svg-div {
  display: flex;
  margin-left: 0;
}
.header-svg-link {
  margin-right: 8px;
  padding-bottom: 17px;
  padding-top: 17px;
}
.header-logo-svg {
  fill: #77ac63;
  background-color: transparent;
}
.header-logo-link {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}
.burger-menu {
  margin-right: 0;
  padding-top: 13px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: block;
}
.burger-menu-svg {
  fill: #77ac63;
}

.menu-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: auto;
}

.mob-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 20px;
  margin: 0 auto;
}
.mob-menu-x-svg {
  stroke: #77ac63;
}
.mob-menu-x {
  padding-top: 13px;
  border: none;
  padding: 0;
  background: transparent;
  display: block;
}
.mob-menu-list {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  line-height: 1.28;
  letter-spacing: -0.038em;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.main-mob-menu {
  background-color: #77ac63;
  height: 100%;
}
.mob-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mob-menu-list {
  padding-top: 124px;
}
.mob-basket-svg {
  stroke: #fff;
  fill: #77ac63;
}

.mob-order-btn {
  text-decoration: none;
  padding: 0;
  border: none;
}
.header-nav {
  display: none;
}

.menu-svg-link {
  display: none;
}

@media screen and (min-width: 375px) {
  .header-container {
    max-width: 375px;
  }
  .header-nav {
    display: none;
  }
  .menu-svg-link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .burger-menu {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    margin-right: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    color: #141414;
    text-align: center;
    line-height: 1.28;
    letter-spacing: -0.04em;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
  }

  .header-svg-div {
    display: flex;
  }

  .menu-svg-link {
    display: block;
    margin-left: 0;
    border: none;
    padding: 15px 0;
    background: transparent;
  }

  .basket-svg {
    stroke: #141414;
    fill: #fff;
  }
}
.basket-svg:hover {
  stroke: #77ac63;
}
@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .burger-menu {
    display: none;
  }
}
