.vegetables-baket-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 20px;
}

.works-title {
  max-width: 335px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.main-slogan {
  max-width: 335px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.secondary-slogan {
  max-width: 335px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media (min-width: 375px) {
  .how-it-works-first-part .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .how-it-works-first-part .container {
    padding: 100px 32px;
    gap: 40px;
  }

  .vegetables-baket-first {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .vegetables-baket-secondary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .works-title {
    max-width: 386px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }

  .main-slogan {
    max-width: 317px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .secondary-slogan {
    max-width: 279px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
  .works-picture {
    width: 310px;
  }
}
@media (min-width: 1280px) {
  .how-it-works-first-part .container {
    padding: 124px 32px;
  }

  .vegetables-baket-first {
    gap: 192px;
  }

  .works-title {
    max-width: 614px;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
  }
  .vegetables-baket-secondary {
    gap: 40px;
  }

  .works-picture {
    width: 410px;
  }

  .main-slogan {
    max-width: 353px;
  }

  .secondary-slogan {
    max-width: 294px;
  }
}
/* Пока что можно добавить 2 метатега, остальные разбираюсь (разметила здесь как комент чтобы ничего не нарушить
<meta name="description" content="Veggie Boost website, order the freshest vegetables, instant delivery, good customer service, lots of special offers">
<meta name="keywords" content="vegetable, fresh vegetables, fast home delivery, quality food products, healthy way of eating ">*/
