/* .названия классов начинаются со слова modal. Например: modal-item, modal-link и т.д
Это делается во избежание одинаковых классов для разных элементов */


@media (min-width: 375px) { 
    .container {
        max-width: 365px;
    }

.container {
    max-width: 375px;
}
.modal {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    max-width: 335px;
    min-height: 903px;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01), 0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02), 0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03), 0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03), 0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04), 0px 0px 223px 0px rgba(0, 0, 0, 0.05);  
}

.modal-tittle {
    color: #141414;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.modal-btn-close {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

.close-svg {
    stroke: #141414;
}

.div-item-cards {}
.input-check {
    

    
}

 .item-cards {
   
    max-width: 295px;
    height: 119px;
    border-radius: 20px;
    padding: 14px 14px 8px 20px;
    background: #FAF3E7;
} 

.modal-list-cards {
    display: flex;
    flex-direction: column; 
    gap: 12px;
    margin-bottom: 40px;
}

 .cards-tittle {
    color: #141414;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.04em;

}

.cards-text {
    color: #141414;
    font-size: 14px;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.02em;
   
}
.card-img {
    /* max-width: 242px;
    height: 200px; */


}
.modal-form {
   
}

 
.modal-svg {
    stroke: #A1C487;
}

.comments {
    max-width: 295px;
    width: 100%;
    height: 132px;
    border-radius: 20px;
    border: 1px solid rgba(20, 20, 20, 0.30);
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding-top: 14px;
    padding-left: 24px;
}

.modal-input {
    max-width: 295px;
    width: 100%;
    height: 46px;
    border-radius: 100px;
    border: 1px solid rgba(20, 20, 20, 0.30);
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding-left: 24px;
}

.all-input-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.lmodal-label {}

.comments::placeholder {
    color: rgba(20, 20, 20, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.04em;
}

.modal-input::placeholder {
    color: rgba(20, 20, 20, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.04em;
}
.modal-btn-submit {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    background: #FC8A11;
    margin-top: 20px;
}
.check-label span {
    /* display: inline-block; */
    border: 1.5px solid #A1C487;
    border-radius: 4px;
    width: 16px;
    height: 16px;
   
    
       
}
 .check-label {
    display: flex;
    flex-direction: row-reverse;  
 }


    
.input-check:checked + .check-label span {
    color: #A1C487;
}
.modal-girl {
    display: none;
}
}            /*  768  */


@media (min-width: 768px) {
.container {
    max-width: 734px;
    }

.modal {
    padding: 40px;
    max-width: 704px;
    min-height: 853px;
        }
.modal-tittle {
    font-size: 40px;
    line-height: 1;
    }
.item-cards {
    width: calc((100% - 24px)/3);
    height: 250px;
    padding: 14px;
           }
  .modal-list-cards {
    display: flex;
    flex-direction: row;
    
  }


.modal-input {
    max-width: 360px;
    width: 100%;
    height: 48px;
}
.comments {
    max-width: 360px;
    width: 100%;
    height: 145px;
}
.modal-btn-submit {
    padding: 15px 35px;
}

.modal-girl {
    display: unset;
    position: absolute;
    width: 100%;
    width: 444px;
    height: 413px;
    bottom: -10px;
    right: -154px;
}
}

        /* 1280 */
@media (min-width: 1280px) {
    .container {
     max-width: 1246px;
    }

.modal {
    max-width: 891px;
    min-height: 911px;
    padding: 40px;
}
.modal-tittle {
    font-size: 40px;
    line-height: 1;
    }
.item-cards {
    width: calc((100% - 40px)/3);
    height: 308px;
}
.modal-list-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
 .cards-tittle {
    font-size: 24px;
    line-height: 1.17;
 }
.comments {
    max-width: 360px;
    width: 100%;
    height: 145px;
}
.modal-input {
    max-width: 360px;
    width: 100%;
    height: 48px;
}
.modal-girl {
    bottom: 0;
    right: 0;
}
.modal-btn-submit {
    padding: 15px 35px;
}

 }


