/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./how-it-works1.css');
@import url('./how-it-works2.css');
@import url('./vegetables.css');
@import url('./we-will-call-you.css');
@import url('./footer.css');
@import url('./modal.css');

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Medium.eot');
  src: url('../fonts/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff'),
    url('../fonts/DMSans-Medium.ttf') format('truetype'),
    url('../fonts/DMSans-Medium.svg#DMSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-MediumItalic.eot');
  src: url('../fonts/DMSans-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/DMSans-MediumItalic.woff2') format('woff2'),
    url('../fonts/DMSans-MediumItalic.woff') format('woff'),
    url('../fonts/DMSans-MediumItalic.ttf') format('truetype'),
    url('../fonts/DMSans-MediumItalic.svg#DMSans-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Regular.eot');
  src: url('../fonts/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff'),
    url('../fonts/DMSans-Regular.ttf') format('truetype'),
    url('../fonts/DMSans-Regular.svg#DMSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Bold.eot');
  src: url('../fonts/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff'),
    url('../fonts/DMSans-Bold.ttf') format('truetype'),
    url('../fonts/DMSans-Bold.svg#DMSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --basic-dark: #141414;
  --basic-green: #a1c487;
  --basic-light-green: #eaf7e5;
  --basic-orange: #fc8a11;
  --basic-bege: #faf3e7;
  --basic-grey: #f3f3f3;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

body {
  font-family: 'DMSans';
}
