/* названия классов начинаются со слова vegetables. Например: vegetables-item, vegetables-link и т.д
Это делается во избежание одинаковых классов для разных элементов */


.vegetables-title {
    color: #141414;
text-align: center;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 24px;
font-weight: 500;
line-height: 1.16;
letter-spacing: -0.04em;
text-transform: uppercase;
padding-bottom: 14px;
}
@media screen and (min-width: 768px) {
    .vegetables-title{
text-align: center;
font-size: 28px;
line-height: 1,14;
letter-spacing: -0.04em;
    }
}
@media screen and (min-width: 1280px) {
    .vegetables-title{
        font-size: 40px;
        text-align: center;
        line-height: 1.1;
    }
}
    
.vegetables-subtitle {
    color: #141414;
text-align: center;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 14px;
font-weight: 400;
line-height: 1.2;
letter-spacing: -0.04em;
padding-bottom: 40px;
max-width: 335px;
margin: auto
}
@media screen and (min-width: 768px){
    .vegetables-subtitle{
        font-size: 18px;
        letter-spacing: -0.03em;
        max-width: 562px;
    }
}
@media screen and (min-width: 1280px){
    .vegetables-subtitle{
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: -0.04em;
    }
}

.veg-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}
@media screen and (min-width: 768px){
    .veg-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 1280px){
    .veg-list{
        gap: 24px;
    }
}

.veg-item {
    width: 335px;
    height: 443px;
    background: #EAF7E5;
    border-radius: 20px;
}
@media screen and (min-width: 768px){
    .veg-item{
        width: 342px;
        height: 465px;   
    }
}
@media screen and (min-width: 1280px){
    .veg-item{
    width: 389px;
    height: 465px;
    }
}
.veg-item-radish{
    display: none;
}
@media screen and (min-width: 1280px) {
  .veg-item-radish{
    display: block;
    width: 389px;
    height: 465px;
    background: #EAF7E5;
    border-radius: 20px;
  }  
}
.text-cont {
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;    
}
.veg-item-title {
color: #141414;
font-size: 24px;
font-weight: 700;
line-height: 1.16;
letter-spacing: -0.04em;
padding-bottom: 8px;
}
@media screen and (min-width: 768px){
.veg-item-title{
    font-size: 28px;
}
}
@media screen and (min-width: 1280px){
    .veg-item-title{
        font-size: 32px;
    }
}
.veg-item-text {
color: #141414;
font-size: 14px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.02em;
}
@media screen and (min-width: 768px){
    .veg-item-text{
        font-size: 18px;
    }
}
.image-contnr{
    width: 300px;
    height: 250px;
    margin: auto;
}
@media screen and (min-width: 768px){
    .image-contnr{
        width: 321px;
        height: 261px;
        margin: auto;
    }
}


.veg-item-price {
color: #141414;
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: -0.04em;
padding-top: 20px;
padding-left: 20px;
}
@media screen and (min-width: 768px){
    .veg-item-price{
        font-size: 18px;
    }
}

.vegetables-button{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FC8A11;
    border: 1px solid #FC8A11;

    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    transform: rotate(-14deg);
}
@media screen and (min-width: 768px){
    .vegetables-button{
        width: 114px;
        height: 114px; 
        font-size: 18px;

    }
}

.vegetables-strelka-icon{
    transform: rotate(15deg);
    fill: #FFF;
}
